<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Админ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="bg-admin">
<header th:insert="blocks/header :: header"></header>

<main class="container mt-5">
    <div class="row">

        <div sec:authorize="hasAuthority('Admin')" class="col-md-8 p-3 mb-3 text-center">
            <dev th:each="user : ${users}" class="col">
                <div class="alert alert-secondary">
                    <h3 th:text="${user.username}"/>
                    <hr>
                    <p>Email: <b th:text="${user.email}"/>    Роль на сайте: <b th:text="${user.roles[0]}"/></p>
                    <a th:href="'/post-user/' + ${user.id}" class="btn btn-outline-dark">Посты</a>
                </div>
            </dev>
        </div>

        <dev sec:authorize="!hasAuthority('Admin')" class="col-md-8 text-center">
            <div th:replace="blocks/admin-menu :: admin-warning"></div>
        </dev>

        <aside class="col-md-4">

            <div th:replace="blocks/admin-menu :: menu"></div>

            <div th:replace="blocks/admin-menu :: img"></div>

            <div th:replace="blocks/footer :: info"></div>
        </aside>
    </div>
</main>

<footer th:replace="blocks/footer :: footer"></footer>

</body>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>