<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <header th:insert="blocks/header :: header"></header>
        <div th:insert="blocks/header :: fon"></div>

        <main role="main" class="block col-md-4">
            <div class="text-center bg-warning p-3 mb-3 rounded align-items-center row justify-content-center">
                <h3 class="cover-heading">Welcome <span sec:authentication="name"></span>.</h3>
                <p class="lead">We are glad that you looked at us!</p>
            </div>
        </main>
    </body>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>