<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${movie.title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="bg-movie">
    <header th:insert="blocks/header :: header"></header>

    <main class="container mt-5">
        <div class="row">

            <div class="col-md-8 bg-light rounded p-3 mb-3">
                <div class="text-dark">
                    <a href="#" onclick="history.back(-1);" class="btn btn-outline-info text-info mb-3">Come back</a>
                    <h2 th:text="${movie.title}" class="mb-3"/>
                    <img th:src="'/media/movies/image/'+${movie.image}" width="200" class="mb-3">
                    <p th:utext="${movie.text}"/>
                    <video controls="controls" preload="metadata" class="col-md-12" th:poster="'/media/movies/poster/'+${movie.poster}">
                        <source th:src="'/media/movies/video/'+${movie.video}" type="video/mp4">
                    </video>
                    <br>
                    <hr>
                    <span th:text="'Publication: '+${movie.data}" class="text-muted"/>
                    <p><b>Category: </b><mark th:text="${movie.genreSet[0]}" class="bg-light"/></p>
                </div>
            </div>

            <aside class="col-md-4">

                <div th:replace="blocks/footer :: info-video"></div>

                <div class="p-3 mb-3">
                    <img src="/image/Video.png" width="300">
                </div>

                <div th:replace="blocks/footer :: info"></div>
            </aside>

        </div>
    </main>

    <footer th:replace="blocks/footer :: footer"></footer>
</body>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>