<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="bg-admin">
<header th:insert="blocks/header :: header"></header>

<main class="container mt-5">
    <div class="row">

        <div sec:authorize="!hasAuthority('USER')" class="col-md-8 p-3 mb-3 text-center">
            <form th:action="@{/movie/new}" method="post" enctype="multipart/form-data">
                <h1 class="cover-heading text-black mb-5">Добавить видео.</h1>
                <input type="text" name="title" placeholder="Заголовок" class="form-control"><br>
                <textarea name="text" placeholder="Введите текст" class="form-control" rows="10"></textarea><br>
                <div class="bg-light text-left col-md-6 rounded p-3">
                    <div class="custom-file mb-3">
                        <input type="file" name="img" placeholder="Image file"class="custom-file-input mb-3">
                        <label class="custom-file-label">Image</label>
                    </div><br>
                    <div class="custom-file">
                        <input type="file" name="file" placeholder="Video file" class="custom-file-input mb-3">
                        <label class="custom-file-label">Video</label>
                    </div>
                </div><br>
                <select class="custom-select custom-select-sm mb-3" name="genreSet">
                    <option selected value="ACTION">ACTION</option>
                    <option value="FANTASY">FANTASY</option>
                    <option value="ADVENTURE">ADVENTURE</option>
                </select>
                <button type="submit" class="btn btn-dark mb-3">Добавить видео</button>
            </form>
        </div>

        <dev sec:authorize="hasAuthority('USER')" class="col-md-8 text-center">
           <div th:replace="blocks/admin-menu :: warning"></div>
        </dev>

        <aside class="col-md-4">

            <div th:replace="blocks/admin-menu :: menu"></div>

            <div th:replace="blocks/admin-menu :: img"></div>

            <div th:replace="blocks/footer :: info"></div>
        </aside>
    </div>
</main>
</body>

<script src="/scripts/jquery-3.4.1.slim.min.js"></script>
<script src="/scripts/popper.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
</html>