<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Музыка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="bg-music">
    <header th:insert="blocks/header :: header"></header>

    <main class="container mt-5">
        <div class="row">

            <div class="col-md-8  bg-light rounded p-3 mb-3">
                <audio src="" id="audioPlayer" controls="controls" preload="metadata" class="col-md-12">
                    Sorry, your browser doesn't support html5!
                </audio>
                <ul  id="playlist"><h4>Песни:</h4><hr>
                    <li th:each="music : ${page.content}">
                        <a th:href="'/media/musics/' + ${music.title}"><small th:utext="${music.title} + '&nbsp &nbsp'" class="h6 text-info"/><small th:text="'&nbsp _ &nbsp' + ${music.genreSet[0]} + '&nbsp _ &nbsp'"/><small th:text="'Добавлено: ' +  ${music.data} "/></a>
                    </li>
                </ul>

                <hr>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li th:if="${page.hasPrevious()}" class="page-item">
                            <a class="page-link" th:href="@{/posts(page=${page.number-1},size=${page.size})}" aria-label="Previous">
                                <span aria-hidden="true" class="text-dark">&laquo;</span>
                            </a>
                        </li>

                        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                            <li th:if="${page.number == i}" class="page-item disabled"><a class="page-link text-dark" href="#">[[${i}+1]]</a></li>
                            <li th:unless="${page.number == i}" class="page-item"><a th:href="@{/posts(page=${i},size=${page.size})}" class="page-link text-dark">[[${i}+1]]</a></li>
                        </th:block>

                        <li th:if="${page.hasNext()}" class="page-item">
                            <a class="page-link" th:href="@{/posts(page=${page.number+1},size=${page.size})}" aria-label="Next">
                                <span aria-hidden="true" class="text-dark">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <aside class="col-md-4">

                <div th:replace="blocks/footer :: info-music"></div>

                <div class="p-3 mb-3">
                    <img src="/image/Music.png" width="300">
                </div>

                <div th:replace="blocks/footer :: info"></div>
            </aside>
        </div>
    </main>

    <footer th:replace="blocks/footer :: footer"></footer>
</body>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="/scripts/audioPlayer.js"></script>
<script>
            // loads the audio player
            audioPlayer();
</script>
</html>