<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Новое аудио</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="bg-admin">
<header th:insert="blocks/header :: header"></header>

<main class="container mt-5">
    <div class="row">

        <div sec:authorize="!hasAuthority('User')" class="col-md-8 p-3 mb-3 text-center">
            <form th:action="@{/music/new}" method="post" enctype="multipart/form-data" class="was-validated border border-dark border-5 mb-5 p-3">
                <h1 class="cover-heading text-black mb-5">Добавить музыку.</h1>
                <div class="bg-light text-left col-md-6 rounded p-3 mb-5">
                    <div class="custom-file">
                        <input type="file" name="music_file" class="custom-file-input" id="validatedCustomFile" required >
                        <label class="custom-file-label" for="validatedCustomFile">Music</label>
                        <div class="invalid-feedback">File not selected</div>
                    </div>
                </div><br>
                <select class="custom-select custom-select-sm mb-5" name="genreSet">
                    <option selected value="Rock">Rock</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="POP">POP</option>
                </select>
                <button type="submit" class="btn btn-dark">Добавить музыку</button>
            </form>

        </div>

        <dev sec:authorize="hasAuthority('User')" class="col-md-8 text-center">
            <div th:replace="blocks/admin-menu :: warning"></div>
        </dev>

        <aside class="col-md-4">

            <div th:replace="blocks/admin-menu :: menu"></div>

            <div th:replace="blocks/admin-menu :: img"></div>

            <div th:replace="blocks/footer :: info"></div>
        </aside>
    </div>
</main>
</body>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>