<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="bg-admin">
<header th:insert="blocks/header :: header"></header>

<main class="container mt-5">
    <div class="row">

        <div sec:authorize="!hasAuthority('User')" class="col-md-8 p-3 mb-3 text-center">
            <form th:action="@{/post/new}" method="post" class="was-validated">
                <h1 class="cover-heading mb-5">Article creation.</h1>
                <input type="text" name="title" placeholder="Title" class="form-control" required><br>
                <input type="text" name="anons" placeholder="Enter a short description" class="form-control" required><br>
                <textarea spellcheck="true" name="text" placeholder="Enter text" class="form-control" rows="20" required></textarea><br>
                <select class="custom-select custom-select-sm" name="sections">
                    <option th:each="section : ${sections}" th:value="${section}" th:text="${section}"/>
                </select><br><br>
                <button type="submit" class="btn btn-dark">Add post</button><br>
            </form>
        </div>

        <dev sec:authorize="hasAuthority('User')" class="col-md-8 text-center">
            <div th:replace="blocks/admin-menu :: warning"></div>
        </dev>

        <aside class="col-md-4">

            <div th:replace="blocks/admin-menu :: menu"></div>

            <div th:replace="blocks/admin-menu :: img"></div>

            <div th:replace="blocks/footer :: info"></div>
        </aside>
    </div>
</main>
</body>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>