<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    <div th:insert="blocks/header :: fon"></div>

    <main role="main" class="block col-md-4">
        <div class="text-center bg-warning p-3 mb-3 rounded align-items-center row justify-content-center">
            <div sec:authorize="hasAuthority('Admin')">
                <form th:action="@{/registration}" method="post" class="was-validated">
                    <h3 class="cover-heading">Registration new user</h3>
                    <input type="text" name="username" placeholder="Enter username" class="form-control" required><br>
                    <input type="text" name="email" placeholder="Enter email" class="form-control" required><br>
                    <input type="password" name="password" placeholder="Enter password" class="form-control" required><br>
                    <select class="custom-select custom-select-sm" name="roles">
                        <option th:each="role : ${roles}" th:selected="(${role} == *{user_role})" th:value="${role}" th:text="${role}"/>
                    </select><br><br>
                    <button type="submit" id="submit" class="btn btn-success mb-3">Sign up</button><br>
                    <h6 th:text="${message}" class="text-danger"/>
                </form>
            </div>
            <dev sec:authorize="!hasAuthority('Admin')" class="text-danger">
                <<div th:replace="blocks/admin-menu :: admin-warning"></div>
            </dev>
        </div>
    </main>

</body>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>