<div th:fragment="footer">
    <div class="footer mt-auto py-3">
        <div class="container">
            <span class="font-weight-bold">Все права очень сильно защищены!!!</span>
        </div>
    </div>
</div>

<div th:fragment="info-video">
    <div class="bg-info text-light p-3 mb-3 rounded">
        <h3><b>Интересные статьи</b></h3>
        <ul>
            <li>
                <a class="nav-link text-light" href="" target="_blank">Человек-муравей и Оса</a>
            </li>
            <li>
                <a class="nav-link text-light" href="" target="_blank">Терминатор: Генезис</a>
            </li>
            <li>
                <a class="nav-link text-light" href="" target="_blank">Морской бой</a>
            </li>
            <li>
                <a class="nav-link text-light" href="" target="_blank">Пассажиры</a>
            </li>
            <li>
                <a class="nav-link text-light" href="" target="_blank">Валериан и город тысячи планет</a>
            </li>
            <li>
                <a class="nav-link text-light" href="">Ван Хельсинг</a>
            </li>
            <li>
                <a class="nav-link text-light" href="" target="_blank">Джон Картер</a>
            </li>
            <li>
                <a class="nav-link text-light" href="" target="_blank">Варкрафт</a>
            </li>
        </ul>
    </div>
</div>

<div th:fragment="info-blogs">
    <div class="bg-dark p-3 mb-3 rounded text-light">
        <h3 class="text-center"><b>Интересные статьи</b></h3>
        <ul>
            <li>
                <a class="nav-link text-light" href="http://www.firststeps.ru/linux/general1.html" target="_blank">Программирование под Linux</a>
            </li>
            <li>
                <a class="nav-link text-light" href="https://ubuntu.ru" target="_blank">Ubuntu по русски.</a>
            </li>
            <li>
                <a class="nav-link text-light" href="http://ubuntism.ru/terminal-commands-for-linux/" target="_blank">Убунтизм для пользователя</a>
            </li>
        </ul>
    </div>
</div>

<div th:fragment="info-blog">
    <div class="bg-dark p-3 mb-3 rounded text-light">
        <h3 class="text-center"><b>Интересные статьи</b></h3>
        <ul>
            <li>
                <a class="nav-link text-light" href="http://www.firststeps.ru/linux/general1.html" target="_blank">Программирование под Linux</a>
            </li>
            <li>
                <a class="nav-link text-light" href="https://ubuntu.ru" target="_blank">Ubuntu по русски.</a>
            </li>
            <li>
                <a class="nav-link text-light" href="http://ubuntism.ru/terminal-commands-for-linux/" target="_blank">Убунтизм для пользователя</a>
            </li>
        </ul>
    </div>
</div>

<div th:fragment="info-music">
    <div class="bg-info p-3 mb-3 rounded text-light">
        <h3 class="text-center"><b>Интересные статьи</b></h3>
        <ul>
            <li>
                <a class="nav-link text-light" href="http://www.firststeps.ru/linux/general1.html" target="_blank">Программирование под Linux</a>
            </li>
            <li>
                <a class="nav-link text-light" href="https://ubuntu.ru" target="_blank">Ubuntu по русски.</a>
            </li>
            <li>
                <a class="nav-link text-light" href="http://ubuntism.ru/terminal-commands-for-linux/" target="_blank">Убунтизм для пользователя</a>
            </li>
        </ul>
    </div>
</div>

<div th:fragment="info-file">
    <div class="bg-dark p-3 mb-3 rounded text-light">
        <h3 class="text-center"><b>Интересные статьи</b></h3>
        <ul>
            <li>
                <a class="nav-link text-light" href="http://www.firststeps.ru/linux/general1.html" target="_blank">Программирование под Linux</a>
            </li>
            <li>
                <a class="nav-link text-light" href="https://ubuntu.ru" target="_blank">Ubuntu по русски.</a>
            </li>
            <li>
                <a class="nav-link text-light" href="http://ubuntism.ru/terminal-commands-for-linux/" target="_blank">Убунтизм для пользователя</a>
            </li>
        </ul>
    </div>
</div>

<div th:fragment="info">
    <div class="bg-dark text-white p-3 mb-3 rounded">
        <p>@ СПРАВОЧНИК @<br>   © <i>Сайт является личным справочником владельца :) </i>
    </div>
</div>